/*
手机端的蓝色底框去除
-webkit-tap-highlight-color:rgba(0,0,0,0);
*/
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1442387906_4338.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1442387906_4338.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1442387906_4338.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1442387906_4338.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1442387906_4338.svg#iconfont') format('svg'); /* iOS 4.1- */
}

* {
  margin: 0px;
  padding: 0px;
  font-size: .16rem;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

a {
  color:deepskyblue;
  text-decoration: none;
}
html {
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","STHeitiSC-Light","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  background-color: #f9f9f9;
}
.iconfont {
  font-family:"iconfont";
  font-style:normal;
  font-size:.12rem;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  /*background-color: rgba(1, 1, 1, 0.6);*/
  display: none;
  z-index: 999;
  top:0;
  margin:auto;;
  text-align: center;
}
.loading img{
  /*position: absolute;*/
  position: absolute;
  top:50%;
  left:50%;
  margin-top:-.5rem;
  margin-left: -.5rem;
  width: 1rem;
  height: 1rem;
}

header {
  text-align: center;
  background-color: #fff;
  padding:0.1rem 0;
}

header h1 {
  font-size: 0.18rem;
  font-weight: normal;
  color: #f96a39;
  /*margin:0.1rem 0;*/
}

/*滚动分页*/
.load-more {
  text-align: center;
  margin-top:.1rem;
  margin-bottom:.1rem;
  display: none;
}
.load-more button{
  background-color: rgb(242,242,242);
  outline: none;
  /*border:1px solid #898989;*/
  border:1px solid rgb(200,200,200);
  padding:0.02rem .05rem;
  border-radius: .05rem;
  font-size: .12rem;
  color:#666;
}
.load-more.active {
  display: block;
}
/*标准分页*/
.pagination{
  /*display: none;*/
  text-align: center;
}
.prev-page{

}
.next-page{

}
.page-number{

}

nav {
  background: #f9f9f9;
  border-top:1px solid #cacaca;
  border-bottom:1px solid #cacaca;
}
.nav-bar{
  list-style: none;
  padding-top:.12rem;
  padding-bottom:.12rem;
}

.nav-bar li {
  margin: auto;
  width: 32%;
  height: 33%;
  text-align: center;
  border-left:1px solid #cccccc;
  font-size: 0.14rem;
  color: #898989;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.nav-bar a{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.nav-bar a i{
  display: inline-block;
  height: 100%;
  font-size:0.14rem;
  transition: all 0.3s ease 0s;
}
.nav-bar a:focus i{
  transform: rotate(180deg);
}

.nav-bar li:first-child {
  border: 0;
}

.nav-bar a {
  color:#898989;
}
.nav-bar a:focus{
  color:#666;
}


.drop-ul {
  position: absolute;
  background:#fff;
  display: block;
  width: 100%;
  height: 0;
  z-index: 10;
  padding: 0;
  border: none;
  overflow: hidden;
  /*display: none;*/
  /*transition: height 2s ease;*/
}

.drop-ul li {
  border-bottom: 1px solid #cccccc;
  font-size: .14rem;
  padding: .1rem;
  color:#898989;
  display: block;
}

.drop-ul li.active {
  color: #f96a39;
}
.drop-ul li:active{
  background: rgba(200,200,200,0.2);
}
.drop-ul.active {
  /*display: block;*/
  height: auto;
}
/*
.dropdown {
}

.dropdown:after {
  border: 0.045rem solid transparent;
  border-top: 0.05rem solid #898989;
  width: 0;
  height: 0;
  top:0.06rem;
  right: 0.07rem;
  position: absolute;
  content: ' '
}
*/



dl {
  position: relative;
  height: 0.73rem;
  border-bottom: 1px solid #d7d7d7;
}


dt {
  border:1px solid #edbc5a;
  color:#edbc5a;
  border-radius: 1rem;
  width:.4rem;
  height:.4rem;
  line-height: .4rem;
  text-align: center;
  font-size: .12rem;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0.11rem;
  margin: auto 0;
}

dd.content {
  display:block;
  position: relative;
  height: 100%;
}

dd.content a {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: #c1c1c1;
  display: block;
  padding: .18rem .1rem 0 .6rem;
  outline: 0;
}

dd.content a:focus {
  background-color: rgba(0,0,0,0.1);
}

dd.content h2 {
  font-weight: normal;
  color: #343434;
}

dd.content p {
  /*display: flex;*/
  margin-top: 0.03rem;
}
dd.content p span{
  width: 42%;
  text-align: center;
  display: inline-block;
}
dd.content p span:first-child {
  width: 28%;
  text-align: left;
}
dd.content p span:last-child {
  width:25%;
  text-align: right
}

dd.content .des span{
  font-size: .12rem;
}
dd.content .price {
  position: absolute;
  top:0.18rem;;
  right:0.1rem;
  font-size: .12rem;
  color: #343434;
}
dd.content .price b {
  font-size: .18rem;
  font-weight: normal;
  color: #f96a39;
}

.job.detail .wrapper{
  background-color: #f4f4f4;
}
.detail .first{
  background-color: #fff;
  padding-bottom: .1rem;
  padding-top: .15rem;
  border-bottom: 1px solid #dbdbdb;
}
.detail header{
  border-bottom: 1px solid #f96a39;
  /*margin-bottom: .15rem;*/
  position: relative;
}
.detail header i {
  position: absolute;
  left:0rem;;
  top:0rem;
}
.detail header i a{
  color: #f96a39;
  font-size:0.23rem;
  padding:.1rem;
  display: block;
}
.detail header i a:active{
  background-color: rgba(200,200,200,0.2);
}
.detail .first{
  padding-bottom: 1
}
.detail .first span{
  color: #c1c1c1;
  font-size: .12rem
}

.job-type {
  padding:.05rem 0 .1rem 0.25rem;;
  border-bottom: 1px solid #c1c1c1;
}
.job-type b{
  font-size: .12rem;
  color: #f96a39;
}
.job-type span{
  display: inline-block;
}
.job-type span:first-child {
  margin-right: .3rem;
}
.job-money {
  font-size: .12rem;
  padding:.2rem 0 .1rem 0.1rem;
}
.job-money b{
  font-size: .24rem;
  color: #f96a39;
  margin-right: .1rem;
}
.job-des{
  padding:0 0 .1rem 0.1rem;
  font-size: .14rem;
}
.job-des span.title{
  font-size: .14rem;
  color:#898989;
}
.detail .second, .detail .third, .detail .fouth, .detail .fifth{
  background-color: #fff;
  margin-top: .12rem;
  border-top:1px solid #dbdbdb;
  padding: 0 0.1rem .13rem .1rem;
  border-bottom: 1px solid #dbdbdb;
}
.detail .third, .detail .fouth, .detail .fifth{
    padding: .1rem 0.1rem .1rem .1rem;
}

.second h3{
  border-left: 4px solid #f96a39;
  padding-left: .1rem;
  font-size: .14rem;
  color: #898989;
  font-weight: normal;
  margin:.15rem 0 .07rem 0;
}
.second p{
  font-size: .14rem;
  padding:0 0.1rem;
  }
.third .job-des,.fouth .job-des{
  padding:0;
}
.third .job-des:first-child{
  padding-bottom: .04rem;
}
.fouth {
  position: relative;
  min-height: .38rem;
}
.fouth .tip{
  position: absolute;
  display: inline-block;
  color:#f96a39;
  font-size:.12rem;
  margin: .07rem 0 0rem 0;
}

.fouth div{
  position: absolute;
  background-color: #4ccda4;
  width: .8rem;
  height: .6rem;
  top:-0.01rem;
  right:0;
}

.fouth a:active div{
  background-color: #3dbc94;
}

.fouth div p{
  text-align: center;
  color:#fff;
  font-size:.14rem;
  margin-top: .06rem;
}
.fouth div p i{
  font-size:.18rem;
}
.fifth{
  position: relative;
}
.fifth-content{
  border: 1px solid #898989;
  border-radius: .1rem;
  padding:.1rem .08rem;
  text-align: center;
}
.fifth p,.fifth span{
  color:#898989;
  font-size: .12rem;
}
.fifth i{
  color: #4ccda4;
  font-style: normal;
  font-size:.12rem;
}

.fifth .title{
  position: absolute;
  top:0;
  right:0;
  width: 100%;
  text-align: center;
  margin-top:.02rem;
}

.fifth .title p{
  display: inline-block;
  padding: 0 .2rem;
  background-color: #fff;
  color:#000;
}
.detail h2{
  font-weight: 600px;
  border-left: .04rem solid #f96a39;
  padding-left: .1rem;
  font-size: .16rem;
  margin: 0 .1rem;
}



/*
下面是二手
*/

#sh  header h1{
  color: #4ccda4;
}

#sh #lists {
  height: 100%;

}

#sh .list{
  display: block;
  margin:.1rem;
  height: 1.08rem;
  overflow: hidden;;
  position: relative;
  background-color: #fff;
}

#sh .list:hover{
  background-color: rgba(222, 222, 222,0.4);
}

#sh .list h2{
  font-weight: normal;
  font-size:.14rem;
  /*padding: .05rem 0 0 .05rem;*/
  word-break: keep-all;
  color:#343434;
  padding: 0;
}

#sh .list .content{
  margin-left: 1.45rem;
  padding: .04rem;
  height: inherit;
}

#sh .list img{
  position: absolute;
  width: 1.45rem;
  height: 1.08rem;
}
#sh .list p {
  padding-top: .15rem;
}

#sh .list p span{
  color:#4ccda4;
  font-size: .12rem;
}
#sh .content-middle span{
    width: .4rem;
}

#sh .list .oldNew{
  border:1px solid #4ccda4;
  border-radius: 5px;
  padding: .02rem;
}
#sh .list .price{
  font-size: .1rem;
  color: #f96a39;

}
#sh .list .price b{
  font-size:.14rem;
  font-weight: normal;
}
#sh .list .right {
  display: inline-block;
  float: right;
  margin-top: .03rem;
}

/*二手detail*/
#sh h2{
  border: none;
  font-weight: normal;
  padding: 0;
  padding:.1rem 0 .1rem 0;
}
#sh h3{
  border-color: #4ccda4;
}

#sh .sh-first .pic-box{
  width:100%;
  height:2.2rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#sh .sh-first .pic-box img{
  width: 100%;
  height: 100%;
}

.pic-box .swiper-pagination-bullet-active{
      background: rgba(76,205,164,0.7);
}
.sh-first .text p, .sh-first .text span, .sh-first b{
  font-size: .13rem;
  font-weight: normal;
}
.sh-first .text p{
  color: #4ccda4;
  font-size: 0rem;
}
.sh-first .text .first-line span{
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  padding:0 .1rem;
  text-align: left;
}

.sh-first .text .first-line span:nth-child(2){
  text-align: right;
  color:#fff;
}

.sh-first .text .first-line span:nth-child(2) i{
  background-color: #f96a39;
  font-style: normal;
  width:.7rem;
  height: .7rem;
  display: inline-block;
  line-height: .7rem;
  text-align: center;
  border-radius: 1rem;
}

.sh-first .text .oldNew {
  padding: .01rem;
  border:1px solid #4ccda4;
  border-radius: .04rem;
}

.sh-first .text .second-line{
  padding:0.1rem;
  margin-top: -.2rem;
  color:#c1c1c1;
}

.sh-first .place {
  color:#c1c1c1;
  font-size: .13rem;
  padding:0 .1rem;
}
.sh-first .back{
  position: absolute;
  color:#f96a39;
  background-color:rgba(220, 222, 222, 0.9);;
  border-radius: 2rem;
  width:.35rem;
  height: .35rem;
  line-height: .35rem;
  text-align: center;
  left:.1rem;
  top:.1rem;
  z-index: 1000;
}

.sh-first .back i{
  font-size:.2rem;
}

.sh-first .back:hover{
  background-color:rgba(220, 222, 222, 1);
}
